// Base Rules

$create-min: 300px;
$browse-min: 600px;
$root-padding: 15px;
$view-gap: 30px;
$media-resize-max-width: $browse-min + $create-min + ($root-padding * 3) +
    $view-gap;

$border-color: #bebebe;

#root {
    // max-width: 1280px;
    margin: 0 auto;
    padding: $root-padding;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: $view-gap;
    justify-content: center;
}

.view-title {
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
}

.button-img:hover {
    cursor: pointer;
}

@media screen and (max-width: $media-resize-max-width) {
    .app-container {
        flex-direction: column;
        min-width: max($create-min, $browse-min);
        row-gap: $view-gap;
    }
}
