.text-area-counter-label {
    text-align: end;
    position: absolute;
    width: 98%;
    bottom: 4%;
}

.text-area-counter-input {
    position: relative;
}

.text-area-counter-container .form-label {
    display: block;
    width: auto;
    text-align: left;
}
