@use "sass:map";
@import "../App.scss";

$field-width: (
    "ruleWidth": 50px,
    "fieldWidth": 60px,
    "operatorWidth": 120px,
    "param1Width": 100px,
    "param2Width": 100px,
    "param3Width": 100px,
    "revenueWidth": 70px,
    "actionWidth": 40px,
);

$field-gap: 5px;

// $total-width: calc(
//     map.get($field-width, "ruleWidth")+ map.get($field-width, "fieldWidth")+
//         map.get($field-width, "operatorWidth")+ map.get(
//             $field-width,
//             "param1Width"
//         )+ map.get($field-width, "param2Width")+ map.get(
//             $field-width,
//             "param3Width"
//         )+ map.get($field-width, "revenueWidth")+ map.get($field-width, "actionWidth")
// );

$computed-width: 689px;

$total-width: 0px;

@each $name, $value in $field-width {
    $total-width: $total-width + $value;
}

$total-width: $total-width +
    (($field-gap + 1px) * calc(length($field-width) / 2));

.browse-view {
    width: 43%;
    min-width: $browse-min;
    align-self: flex-start;
    padding: 15px 0px;
}

.group-view-container {
    max-width: fit-content;
    border-radius: 8px;
    border: 1px solid $border-color;
    margin-bottom: 25px;
}

.group-view-header {
    display: inline-flex;
    max-width: $computed-width;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.group-view-header-left-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.group-view-header .button-img {
    align-self: flex-start;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 5px;
}

.group-view-title {
    display: inline-flex;
    column-gap: 10px;
    width: 100%;
}

.group-view-name {
    max-width: 70%;
    overflow: hidden;
    text-align: start;
    font-size: 14px;
}

.group-view-desc {
    max-width: 70%;
    width: fit-content;
    text-align: start;
    font-size: 12px;
}

.group-view-special {
    height: fit-content;
    border-radius: 16px;
    background: #2d57f6;
    color: #ffffff;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    align-self: center;
}

.rules-list {
    overflow: auto;
    max-width: $computed-width;
    padding: 5px 0px;
    border-top: 1px solid $border-color;
}

.rule-list-title,
.rule-list-item {
    display: grid;
    grid-template-columns:
        map.get($field-width, "ruleWidth") map.get($field-width, "fieldWidth") map.get(
            $field-width,
            "operatorWidth"
        )
        map.get($field-width, "param1Width") map.get(
            $field-width,
            "param2Width"
        )
        map.get($field-width, "param3Width")
        map.get($field-width, "revenueWidth") map.get($field-width, "actionWidth");
    column-gap: 5px;
    padding: 5px 7px;

    //padding-top: 4px;
    //padding-bottom: 4px;
}

.rule-list-title {
    font-size: 11px;
}

.rule-list-item {
    font-size: 12px;
}

.rule-list-title .rule-id,
.rule-list-title .rule-field,
.rule-list-title .rule-operator,
.rule-list-title .rule-parameter-1,
.rule-list-title .rule-parameter-2,
.rule-list-title .rule-parameter-3,
.rule-list-title .revenue {
    column-gap: 5px;
    line-height: 16px;
}

.rule-id,
.rule-field,
.rule-operator,
.rule-parameter-1,
.rule-parameter-2,
.rule-parameter-3,
.revenue {
    display: inline-flex;
}

.rule-list-item:nth-child(odd) {
    background-color: #f5f7ff;
}
.rule-list-item:nth-child(even) {
    background-color: #ffffff;
}

.rule-list {
    width: fit-content;
    max-height: 160px;
}

@media screen and (max-width: $media-resize-max-width) {
    .browse-view {
        width: 100%;
        align-self: center;
        min-width: $row-browse-min;
    }

    .browse-view .view-title {
        text-align: center;
    }

    .group-view-container {
        margin-left: auto;
        margin-right: auto;
    }
}
