@import "../App.scss";

$text-input-width: 97%;

$add-rule-button-border-color: #1859ff;

.create-view {
    width: 30%;
    min-width: $create-min;
    align-self: flex-start;
    padding: 15px;
    border: 1px solid $border-color;
    border-radius: 9px;
}

.add-rule-button {
    display: inline-flex;
    height: 24px;
    border: 1px solid #ebeefd;
    border-radius: 26px;
    color: $add-rule-button-border-color;
    background-color: #ebeefd;
    font-size: 13spx;
    padding-left: 8px;
    padding-right: 10px;
    column-gap: 2px;
}

@media screen and (max-width: $media-resize-max-width) {
    .create-view {
        width: 60%;
        align-self: center;
    }
}

.create-view .form-label {
    display: block;
    width: auto;
    text-align: left;
}

.create-view .form-text-input {
    display: block;
    width: $text-input-width;
    border: 1px solid $border-color;
    border-radius: 4px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.rules-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-area-counter-label {
    text-align: end;
    position: absolute;
    width: $text-input-width + 1%;
    bottom: 4%;
}

.special-checkbox-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.special-checkbox-label {
    line-height: 19px;
}

.rules-body {
    max-height: 300px;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 40px;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 8px,
        black calc(100% - 8px),
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 8px,
        black calc(100% - 8px),
        transparent 100%
    );
}

.rules-outer-container {
    border: 1px dashed $border-color;
    border-radius: 6px;
    width: 96%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;

    font-size: 13px;
    row-gap: 8px;
}

.rules-outer-container:first-child {
    margin-top: 5px;
}

.rules-outer-container:last-child {
    margin-bottom: 5px;
}
.rules-inner-container {
    display: inline-flex;
    background-color: #f3f3f3;
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
    column-gap: 2%;
}

.rules-inner-container-header {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.create-form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    font-size: 13px;
}

.rules-footer {
    width: 98%;
    display: inline-flex;
    justify-content: flex-end;
    column-gap: 10px;
    height: 35px;
}

.create-form .input-section {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.rules-footer button {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.rules-footer-reset-button {
    border: 1px solid $border-color;
    background-color: transparent;
}

.rules-footer-submit-button {
    border: 1px solid #2d57f6;
    background-color: #2d57f6;
    color: white;
}

.remove-rules-button {
    background-color: transparent;
    border: none;
    font-size: 11px;
}

.parameter-holder {
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.field-select,
.operator-select {
    height: fit-content;
    width: 27%;
    font-size: 12px;
    padding: 1px;
}

.parameter-list {
    display: inline-flex;
    column-gap: 5px;
}

.revenue-label {
    padding-top: 2px;
}

.parameter-input {
    width: 90%;
}

.revenue-container {
    display: inline-flex;
    column-gap: 8px;
}
