@import "../App.scss";

.create-view {
    width: 30%;
    min-width: $create-min;
    align-self: flex-start;
}

@media screen and (max-width: $media-resize-max-width) {
    .create-view {
        width: 60%;
        align-self: center;
    }
}

.create-view .form-label {
    display: block;
    width: auto;
    text-align: left;
}

.create-view .form-text-input {
    display: block;
    width: 100%;
}

.rules-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.rules-body {
    height: 300px;
}

.rcs-inner-container {
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 8px,
        black calc(100% - 8px),
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 8px,
        black calc(100% - 8px),
        transparent 100%
    );
}

.rules-outer-container {
    border-style: dashed;
    border-color: rgb(31, 31, 31);
    width: 98%;
    display: flex;
    flex-direction: column;
}

.rules-inner-container {
    display: inline-flex;
    background-color: darkblue;
    column-gap: 3%;
}

.rules-inner-container-header {
    display: inline-flex;
    justify-content: space-between;
}

.parameter-holder {
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.parameter-list {
    display: inline-flex;
    column-gap: 5%;
}

.paramter-input {
    width: 70%;
}

.revenue-container {
    display: inline-flex;
}
