@use "sass:map";
@import "../App.scss";
@import "./Browse.scss";

.rules-list {
    overflow: auto;
    max-width: $computed-width;
    padding: 5px 0px;
    border-top: 1px solid $border-color;
}

.rule-list-title,
.rule-list-item {
    display: grid;
    grid-template-columns:
        map.get($field-width, "ruleWidth") map.get($field-width, "fieldWidth") map.get(
            $field-width,
            "operatorWidth"
        )
        map.get($field-width, "param1Width") map.get(
            $field-width,
            "param2Width"
        )
        map.get($field-width, "param3Width")
        map.get($field-width, "revenueWidth") map.get($field-width, "actionWidth");
    column-gap: 5px;
    padding: 5px 7px;
}

.rule-list-title {
    font-size: 11px;
}

.rule-list-item {
    font-size: 12px;
}

.rule-list-title .rule-id,
.rule-list-title .rule-field,
.rule-list-title .rule-operator,
.rule-list-title .rule-parameter-1,
.rule-list-title .rule-parameter-2,
.rule-list-title .rule-parameter-3,
.rule-list-title .revenue {
    column-gap: 5px;
    line-height: 16px;
}

.rule-id,
.rule-field,
.rule-operator,
.rule-parameter-1,
.rule-parameter-2,
.rule-parameter-3,
.revenue {
    display: inline-flex;
}

.rule-list-item:nth-child(odd) {
    background-color: #f5f7ff;
}
.rule-list-item:nth-child(even) {
    background-color: #ffffff;
}

.rule-list {
    width: fit-content;
    max-height: 160px;
}
